.logo {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
}

.line {
  display: block;
  font-size: 18px;
}

@media (min-width: 768px) {
  .line {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .line {
    font-size: 24px;
  }
}
